version: "3.9"

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: video_search_db
    environment:
      POSTGRES_DB: video_search
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d video_search"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  db_data:
